$scale: 0.3;
$scale-big: 2;

.hexagon {
    position: relative;
    width: calc(300px * #{$scale});
    height: calc(173.21px * #{$scale});
    margin: calc(86.60px * #{$scale}) 4px;
    color: var(--color-default);
    text-align: left;
    background-color: currentColor;
    transition: all .2s ease-out;

    &:hover {
        color: var(--color-default-sec);
        cursor: pointer;
    }

    &-number, &-letter, &-id {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        color: #fff;
        font-weight: 600;
    }

    &-id {
        top: 85%;
        opacity: .5;
    }

    &-number {
        font-size: 2.2rem;
    }

    &-letter {
        font-size: 4rem;
    }
}


.hexagon-medium {
    transform: scale(1.5);
}

.hexagon-big {
    width: 30vh ;
    height: 17.321vh;
    margin: 8.66vh auto;

    &-number {
        color: #fff;
        font-size: 3rem;
    }
}

.hexagon:before,
.hexagon:after {
    content: "";
    position: absolute;
    width: 0;
    border-left: calc(150px * #{$scale}) solid transparent;
    border-right: calc(150px * #{$scale}) solid transparent;
}

.hexagon:before {
    bottom: 100%;
    border-bottom: calc(86.60px * #{$scale}) solid currentColor;
}

.hexagon:after {
    top: 100%;
    width: 0;
    border-top: calc(86.60px * #{$scale}) solid currentColor;
}

.hexagon-big:before,
.hexagon-big:after {
    border-left: 15vh solid transparent;
    border-right: 15vh solid transparent;
}

.hexagon-big:before {
    border-bottom: 8.66vh solid currentColor;
}

.hexagon-big:after {
    border-top: 8.66vh solid currentColor;
}
