.user-1 {
    color: var(--color-user-1);

    &:hover {
        color: var(--color-user-1-sec);
    }
}

.user-2 {
    color: var(--color-user-2);

    &:hover {
        color: var(--color-user-2-sec);
    }
}

.user-none {
    color: var(--color-user-none);

    &:hover {
        color: var(--color-user-none-sec);
    }
}

.users-box {
    display: flex;
    flex-direction: row;
    justify-content: center;

    > div {
        margin: 1rem;
        text-align: center;
    }

    .hexagon {
        margin-left: auto;
        margin-right: auto;
        margin-bottom: 3rem;
    }

    input {
        display: block;
        margin-top: 2rem;
        font-size: 1.8rem;
        font-weight: 600;
        padding: .4rem;
        text-align: center;
    }

    span {
        display: block;
        color: #fff;
        font-size: 1.8rem;
        margin-top: .4rem;
    }
}

.users-top {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 2rem;
    box-sizing: border-box;
    text-align: center;

    .hexagon {
        margin: 2rem auto;
    }

    span {
        display: block;
        color: #fff;
        font-size: 2.2rem;
    }
}

.submit-btn {
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translate(-50%, 0);
    display: block;
    margin: 5rem auto;
    width: 7rem;
    height: 10rem;
    cursor: pointer;
    color: #b6ff00;
    transition: all .2s ease-out;

    &:hover {
        color: darken(#b6ff00, 15%);
    }

    &:before, &:after {
        content: "";
        position: absolute;
        background-color: currentColor;
    }

    &:before {
        width: .6rem;
        height: 6rem;
        transform: rotate(45deg);
        left: 5rem;
    }

    &:after {
        width: 3rem;
        height: .6rem;
        left: 1rem;
        top: 3.8rem;
        transform: rotate(45deg);
    }
}